<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87581">  <td>22/05/20 10:21:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirmwareTest.AttachFirmwareFirmwarePageTest()[pri:3, instance:Testv2.FirmwareTest@55322aab]">AttachFirmwareFirmwarePageTest</td> 
  <td>main@46941357</td>   <td></td> </tr>
<tr bgcolor="c87581">  <td>22/05/20 10:21:07</td>   <td>-38573</td> <td>&nbsp;</td><td title="&gt;&gt;FirmwareTest.BeforeTest()[pri:0, instance:Testv2.FirmwareTest@55322aab]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@46941357</td>   <td></td> </tr>
<tr bgcolor="c87581">  <td>22/05/20 10:21:12</td>   <td>-33186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirmwareTest.FirmwareTabClickTest()[pri:1, instance:Testv2.FirmwareTest@55322aab]">FirmwareTabClickTest</td> 
  <td>main@46941357</td>   <td></td> </tr>
</table>
