<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ab778a">  <td>22/01/11 22:54:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserLoginTest.UserLogout()[pri:2, instance:Testv2.UserLoginTest@34625ccd]">UserLogout</td> 
  <td>main@2122357625</td>   <td></td> </tr>
<tr bgcolor="ab778a">  <td>22/01/11 22:54:03</td>   <td>465</td> <td>&nbsp;</td><td title="&lt;&lt;UserLoginTest.AfterTest()[pri:0, instance:Testv2.UserLoginTest@34625ccd]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2122357625</td>   <td></td> </tr>
<tr bgcolor="ab778a">  <td>22/01/11 22:53:33</td>   <td>-29550</td> <td>&nbsp;</td><td title="&gt;&gt;UserLoginTest.BeforeTest()[pri:0, instance:Testv2.UserLoginTest@34625ccd]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2122357625</td>   <td></td> </tr>
<tr bgcolor="ab778a">  <td>22/01/11 22:53:38</td>   <td>-23912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserLoginTest.UserLogin()[pri:1, instance:Testv2.UserLoginTest@34625ccd]">UserLogin</td> 
  <td>main@2122357625</td>   <td></td> </tr>
</table>
